body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 4em 2rem;
  padding-top: 0;
}

h1 {
  font-size: 1em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

#chart-2-container {
  /* padding-left: 120px; */
  margin-top: 0;
  margin: auto;
  max-width: 900px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 200px;
  padding-left: 100px;
}

#chart-2-container h3 {
  /* text-align: center; */
  margin-bottom: -20px;
  margin-top: 30px;
  font-size: 15px;
  margin-left: 40px;
}

#chart-2-container svg {
  transform: scale(0.9);
}
#chart-2-container svg g text {
  font-size: 15px;
  /* color: red; */
}

.text-1-container {
  text-align: center;
  max-width: 720px;
  margin: auto;
}
.text-1-container p {
  text-align: justify;
  position: relative;
  top: 100px;

  /* margin: auto; */
}
.text-1-container h1 {
  text-align: center;
  position: relative;
  top: 50px;
  font-size: 20px;
}
.text-2-container {
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.text-2-container p {
  text-align: justify;
  max-width: 800px;
  margin-bottom: 50px;
  margin-top: -150px;
}

.text-3-container p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}
p1 {
  position: absolute;
  left: 30px;
  font-family: "Lucida Console";
}
