body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  padding: 3em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

tr {
  font-size: 2em;
  margin: 0.35em 0
}

table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid rgb(107, 75, 247);
}

td {
  border: 1px solid rgb(106, 21, 99);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

svg {
  border: 1px solid rgb(106, 21, 99);
  overflow: hidden;
  white-space: nowrap;


}

.MainHeader {
  background-color: rgb(57, 174, 149);
}